<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista książek</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            max-width: 18rem; /* Adjust the max width of the card */
            margin: auto;
        }
        /*.card img {*/
        /*    height: 200px; !* Adjust the height of the image *!*/
        /*    object-fit: cover;*/
        /*}*/
        .card-body {
            padding: 1rem; /* Adjust the padding */
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BookStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="hasAuthority('USER')">
                <form th:action="@{/}" method="get" class="nav-link">
                    <button type="submit" class="btn btn-link text-dark">Home</button>
                </form>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/admin/adminpanel}" method="get" class="nav-link">
                    <button type="submit" class="btn btn-link text-dark">Home</button>
                </form>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('USER')">
                <form th:action="@{/cart}" method="get" class="nav-link">
                    <button type="submit" class="btn btn-link text-dark">Koszyk</button>
                </form>
            </li>

            <li class="nav-item" sec:authorize="!hasAuthority('USER') and !hasAuthority('ADMIN')">
                <form th:action="@{/login}" method="get" class="nav-link">
                    <button type="submit" class="btn btn-link text-dark">Zaloguj się</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">Lista książek</h1>
    <div sec:authorize="hasAuthority('ADMIN')">
        <form th:action="@{/book/add}" method="get">
            <button type="submit" class="btn btn-primary mb-4">Dodaj książkę</button>
        </form>
    </div>

    <div class="row">
        <div th:each="book : ${books}" class="col-md-3 mb-4">
            <div class="card">
                <img th:src="@{${book.photo}}" class="card-img-top" alt="Book Photo">
                <div class="card-body">
                    <h5 class="card-title" th:text="${book.title}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${book.author}"></h6>
                    <p class="card-text" th:text="${'Cena: ' + book.price + ' zł'}"></p>
                    <p class="card-text" th:text="${'Ilość: ' + book.quantity}"></p>

                    <div sec:authorize="hasAuthority('USER')">
                        <form th:action="@{/cart/add}" method="post">
                            <input type="hidden" name="id" th:value="${book.id}" />
                            <button type="submit" class="btn btn-success">Dodaj do koszyka</button>
                            <input type="number" name="quantity" value="1" min="1" th:max="${book.quantity}" />
                        </form>
                    </div>

                    <div sec:authorize="hasAuthority('ADMIN')">
                        <form method="get" th:action="@{/book/update/{id}(id=${book.id})}" class="d-inline">
                            <input type="submit" class="btn btn-warning" value="Edytuj"/>
                        </form>
                        <form method="post" th:action="@{/book/delete}" class="d-inline">
                            <input type="hidden" th:name="id" th:value="${book.id}" />
                            <input type="submit" class="btn btn-danger" value="Usuń"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
