<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Details</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f7f9fc;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .card {
      border: none;
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
    }
    .table {
      margin-top: 1rem;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4">Szczegóły zamówienia</h1>
          <p><strong>Zamówienie numer:</strong> <span th:text="${order.id}"></span></p>
          <p><strong>Data:</strong> <span th:text="${order.date}"></span></p>
          <p><strong>Status:</strong> <span th:text="${order.status}"></span></p>
          <p><strong>Kwota:</strong> <span th:text="${order.price}"></span></p>
          <h2 class="mt-4">Items</h2>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Tytuł</th>
              <th>Autor</th>
              <th>Cena</th>
              <th>Ilość</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${order.items}">
              <td th:text="${item.book.title}"></td>
              <td th:text="${item.book.author}"></td>
              <td th:text="${item.book.price}"></td>
              <td th:text="${item.quantity}"></td>
            </tr>
            </tbody>
          </table>

          <form th:action="@{/order/history}" method="get" class="text-center" sec:authorize="hasAuthority('USER')">
            <button type="submit" class="btn btn-primary btn-lg">Powrót</button>
          </form>

          <form th:action="@{/admin/orders}" method="get" class="text-center" sec:authorize="hasAuthority('ADMIN')">
            <button type="submit" class="btn btn-primary btn-lg">Powrót</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
