<h1>Order Details</h1>
<p>Order ID: <span
        th:text="${order.id}"></span></p>
<p>Date: <span
        th:text="${order.date}"></span></p>
<p>Status: <span
        th:text="${order.status}"></span></p>
<h2>Items</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${order.items}">
    <td th:text="${item.book.title}"></td>
    <td th:text="${item.book.author}"></td>
    <td th:text="${item.book.price}"></td>
    <td th:text="${item.quantity}"></td>
  </tr>
  </tbody>
</table>